{% extends "layout.html" %}
{% block content %}
<h1>Home Page</h1>
<h5>Alex Zhuang</h5>
<br/>
<p>
  Welcome to jfinder! jfinder is a tool that helps you search for Jeopardy questions with multiple filters. jfinder also lets you mark your favorite questions so you can view them later!
</p>
<p>
  Use the navigation toolbar at the top to begin searching for Jeopardy Questions!
</p>
<p>
  Note that filtering by keyword and category may take much longer to look through the jservice.io database if the keyword or category is uncommon.
</p>

<p>
  To access the GitHub repository, click the link in the top right corner.
</p>
{% endblock content %}