{% extends "layout.html" %}
{% block content %}
<h1>jfinder search</h1>
<br/>
<form action = "" class = "form-inline" method = "post">
    <h5 style = "width: 100px">Keyword</h5>
    <input type = "text" class = "form-control" placeholder= "Keyword" name = "keyword" value = "{{request.form.keyword}}">
    <h5 style = "width: 100px">Category</h5>
    <input type = "text" class = "form-control" placeholder= "Category" name = "category" value = "{{request.form.category}}">
    <h5 style = "width: 100px">Difficulty</h5>
    <input type = "text" class = "form-control" placeholder= "Difficulty" name = "difficulty" value = "{{request.form.difficulty}}">
    <h5 style = "width: 100px">Air Date</h5>
    <input type = "date" class = "form-control" name = "airdate" value = "{{request.form.airdate}}" style = "width: 206px">
    <h5 style = "width: 100px">Max #</h5>
    <input type = "number" class = "form-control" placeholder= 0 name = "maxCount" value = "{{request.form.maxCount}}">
    <p style = "width: 100px"></p>
    <input class = "btn btn-default searchButton" type = "submit" name = "submit" value = "Find">
</form>
<br/>

{%for i in range(0, len)%}
<div class = "container">
    <div class = "entry">
        {{questions[i]}}
    </div>
    <div class = "entry">
        {{categories[i]}}
    </div>
    <div class = "entry">
        {{points[i]}}
    </div>
    <div class = "entry">
        {{answers[i]}}
    </div>
    <div class = "entry">
        {{airdates[i]}}
    </div>
</div>
{%endfor%}
<div class = "bottomSpace"></div>
{% endblock content %}